{% extends "templates/web.html" %}

{% block meta_block %}
	{% include "templates/includes/meta_block.html" %}
{% endblock %}

{% block page_content %}
{% if has_web_edit_permission%}
	<a href="/desk#Form/{{doctype}}/{{name}}" class="btn btn-light edit-absolute" target="_blank"><i class="fas fa-edit"></i></a>
{% endif %}
<div class="heading heading-border heading-middle-border">
	<h3>{{ title }}</h3>
</div>

<div class="content row">
	{% if image and image|length or pdf %}
	<div class="col-md-{{category.img_bootstrap_size}}">
		<a href="#" data-toggle="modal" data-target="#largeModal" class="float-left pl-0 "><img class="img-fluid" src="{{image}}" alt="{{title}}" ></a>
	</div>
	{% set content_size = 12 - category.img_bootstrap_size | int %}
	{% else %}
	{% set content_size = 12 %}
	{% endif %}
	<div class="col-md-{{content_size}}">
	{{ content or ''}}
	{% if pdf %}
		<a class="btn btn-primary" href="{{pdf}}" target="_blank">PDF</a>
	{% endif %}
	</div>

</div>

{% if category.show_return %}
	<hr>
	<a class="btn btn-default float-right" onclick="history.back()">Volver</a>
{% endif%}

<div class="col-md-{{category.img_bootstrap_size}}">
	<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content bg-dark">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body text-center">
					<img class="img-fluid" src="{{image}}" alt="{{title}}">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="pt-5"></div>

{% endblock %}