{% extends "templates/web.html" %}

{% block meta_block %}
	{% include "templates/includes/meta_block.html" %}
{% endblock %}

{% block page_content %}
{% if has_web_edit_permission%}
	<a href="/desk#Form/{{doctype}}/{{name}}" class="btn btn-light edit-absolute" target="_blank"><i class="fas fa-edit"></i></a>
{% endif %}
<div class="heading heading-border heading-middle-border">
	<h3>{{ title }}</h3>
</div>
<div class="content row">
	{% if image|length%}
	<div class="col-md-2">
		<img class="" src="{{image}}" alt="{{title}}">
	</div>
	<div class="col-md-10">
	{% else %}
	<div>
	{% endif %}
	{{ content }}
	</div>
</div>

{% endblock %}
