{{has_web_edit_permission}}
{% if can_edit%}{% endif %}
	<a href="/desk#Form/{{module.module_type}}/{{module.module_name}}" class="btn btn-light edit-absolute" target="_blank"><i class="fas fa-edit"></i></a>

<div class="{{module.context.css_class or ''}}">
{% if module.context.header != "" %}
<div class="{{module.context.css_title or ''}}">
<{{module.context.header}}>{{ module.context.title }}</{{module.context.header}}>
</div>
{% endif %}

{% if module.module_type == "Module HTML" %}
	{% include 'templates/includes/modules/module_html.html' %}
{% endif %}

{% if module.module_type == "Module menu" %}
	{% include 'templates/includes/modules/module_menu.html' %}
{% endif%}

</div>